.launchpadvis-VBox-23 {
    background-image: url("/public/images/background.svg");
    background-position: center top;
    background-repeat: no-repeat;
    height: calc(98% + 4px);
}

.launchpadvis-VBox-24-dark {
    background-image: url("/public/images/connect/neptune-connect-background-dark.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #cdd2d7;
    border-radius: 10px;
    height: calc(98% + 4px);
}

.launchpadvis-VBox-24-light {
    background-image: url("/public/images/connect/neptune-connect-background-light.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #cdd2d7;
    border-radius: 10px;
    height: calc(98% + 4px);
}

.launchpadvis-light-icon {
    filter: brightness(0);
}

.launchpadvis-dark-icon {
    filter: brightness(0) invert(1);
}

.launchpadvis-headerIcon {
    background-color: rgba(255, 210, 94, 0.15);
    color: #ff9e33;
}

.launchpadvis-TitlePressCell {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container {
    display: flex;
    border: 2px solid #cdd2d7;
    border-radius: 10px;
    height: 98%;
}

#stencil {
    width: 250px;
    position: relative;
    height: 100%;
    border-right: 1px solid #dfe3e8;
}

#graph-container {
    flex-grow: 1;
    height: 100% !important;
}

.x6-widget-stencil {
    background: transparent;
}

.x6-widget-stencil-title {
    background-color: #fff;
}

.x6-widget-stencil-group-title {
    background-color: #fff !important;
}

.x6-widget-transform {
    margin: -1px 0 0 -1px;
    padding: 0px;
    border: 1px solid #239edd;
}

.x6-widget-transform>div {
    border: 1px solid #239edd;
}

.x6-widget-transform>div:hover {
    background-color: #3dafe4;
}

.x6-widget-transform-active-handle {
    background-color: #3dafe4;
}

.x6-widget-transform-resize {
    border-radius: 0;
}

.x6-widget-selection-inner {
    border: 1px solid #239edd;
}

.x6-widget-selection-box {
    opacity: 0;
}

.x6-widget-stencil-title,
.x6-widget-stencil-group>.x6-widget-stencil-group-title {
    border-top-left-radius: 8px;
}

.launchpadvis-selectedIcon .sapFAvatarImageHolder.sapFAvatarImageCover {
    background-size: 2rem !important;
}

.launchpadvis-light-selectedIcon {
    filter: brightness(0);
}

.launchpadvis-dark-selectedIcon {
    filter: brightness(0) invert(1);
}